* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


:root {
    --color-text:white;
}

body {
    background-color: #AFB4C6;
}

h1 {
    text-align: center;
    margin: 30px;
    text-transform: uppercase;
}


/* FORMULAIRE ADD LISTE FIXE AU COIN HAUT DROITE  */
.formAddList {
   position: fixed;
   right: 10px;
   bottom: 10px;
   border: solid 1px black;
   padding: 10px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   background-color: aliceblue;
}

.formAddList label {
    text-align: center;
    padding: 5px;
}


/* AFFICHAGE TABLE FORUM */
.listTable {
    border: solid 1px black;
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    font-family: sans-serif;
    border-radius: 5px;
}

.listTable th {
    padding: 10px;
    background-color: brown;
    border: solid 1px black;
}

.listTable td, .listTable th {
    padding: 5px;
    text-align: center;
    border: solid 1px;
}

.listTable tr {
    background-color: white;
}

.listTable tr:nth-child(even) {
    background-color: #dddddd;
}

.listTable td a {
    text-decoration: none;
    color: black;
}

.listTable td a:hover {
    text-decoration: none;
    color: red;
}

/* HEADER + NAVBAR */
header {
    padding-bottom: 120px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../img/background.jpg");
    object-fit:cover;
    background-attachment: fixed; /* fixe l'image lors du scroll */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
}

nav a {
    color: var(--color-text);
    text-transform: uppercase;
    margin: 20px;
    cursor: pointer;
    font-weight: bold;
}

#nav-left a {
    color: var(--color-text);
    text-transform: uppercase;
    margin: 20px;
    cursor: pointer;
    font-weight: bold;
}

#nav-right {
    text-align: end; 
}

#nav-right a {
    color: var(--color-text);
    text-transform: uppercase;
    margin: 20px;
    cursor: pointer;
    font-weight: bold;
}


/* NAVBAR LOGIN / REGISTER */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px ;
}